<nav class="menu-principal">
  <div class="header-1">
    <a href="/"><img class="logo" src="/assets/images/logo.png" /></a>
  </div>
</nav>
<nav class="menu">
  <ul class="menu-list">
    <li><a href="/about" class="<%= locals.path === '/about' ? 'active' : '' %>">QUEM SOMOS</a></li>
    <li><a href="/aluno" class="<%= locals.path === '/aluno' ? 'active' : '' %>">ÁREA DO ALUNO</a></li>
    <li><a href="/professor" class="<%= locals.path === '/professor' ? 'active' : '' %>">ÁREA DO PROFESSOR</a></li>
    <% if (!locals.user) { %>
    <li><a href="/auth/signup" class="<%= locals.path === '/auth/signup' ? 'active' : '' %>">CADASTRE-SE</a></li>
    <li><a href="/auth" class="<%= locals.path === '/auth' ? 'active' : '' %>">LOGIN</a></li>
    <% } else { %>
    <!-- <li><a href="/default"><%= locals.user.nome.toUpperCase() %> </a></li> -->
    <li><a href="/auth/logout">SAIR</a></li>
    <% } %>
  </ul>
</nav>
