<div class="container">
  <div class="text-center p-3">
    <h1><%= locals.formTitle || 'Editar Treino'%></h1>
  </div>
  <div class="row">
    <div class="col-12">
      <form class="user-form" method="post" autocomplete="off">
        <div class="form-group">
          <label for="inputName" class="sr-only">Nome</label>
          <input
            type="text"
            name="nome"
            id="inputName"
            class="w-100 form-control<%= locals.errors && locals.errors.nome ? ' is-invalid' : '' %>"
            placeholder="Nome"
            aria-describedby="firstNameFeedback"
            value="<%= locals.values && locals.values.nome %>"
          />
          <div id="firstNameFeedback" class="invalid-feedback"><%= locals.errors && locals.errors.nome || '' %></div>
        </div>

        <div class="form-group">
          <label for="inputName" class="sr-only">Aluno</label>
          <input type="text" name="aluno" id="inputAluno" class="w-100 form-control<%= locals.errors &&
          locals.errors.nome ? ' is-invalid' : '' %>" placeholder="Aluno" aria-describedby="firstNameFeedback"
          value="<%= locals.values && `${locals.values.aluno.nome} ${locals.values.aluno.sobrenome}` %>" <%=
          locals.formType === 'professorEditTreino' && 'disabled' %> />
          <div id="firstNameFeedback" class="invalid-feedback"><%= locals.errors && locals.errors.nome || '' %></div>
        </div>

        <% locals.values.conteudo.forEach((exercicio, i) => { %>
        <div class="card mt-3">
          <input type="hidden" name="conteudo[<%= i %>][_id]" value="<%= exercicio._id %>" />
          <div class="form-group p-2">
            <input
              type="text"
              class="form-control"
              name="conteudo[<%= i %>][nome]"
              value="<%= exercicio.nome %>"
              placeholder="Nome do Treino"
            />
          </div>
          <div class="form-group p-2">
            <input
              type="text"
              class="form-control"
              name="conteudo[<%= i %>][descricao]"
              value="<%= exercicio.descricao %>"
              placeholder="Descrição"
            />
          </div>

          <div class="form-group p-2">
            <input
              type="text"
              class="form-control"
              name="conteudo[<%= i %>][observacoes]"
              value="<%= exercicio.observacoes %>"
              placeholder="Observações"
            />
          </div>
        </div>
        <% }); %>

        <div class="pt-3">
          <button type="submit" class="btn btn-primary btn-block">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
