<% console.log(locals) %>
<div class="container m-auto pt-5">
  <form class="signup-form" method="post" autocomplete="off">
    <h4 class="mb-3">Login Quarentreino</h4>
    <div>
      <div class="form-group">
        <label for="inputEmail" class="sr-only">Email</label>
        <input
          type="text"
          name="email"
          id="inputEmail"
          class="w-100 form-control<%= locals.errors && locals.errors.email ? ' is-invalid' : '' %>"
          placeholder="Email"
          aria-describedby="emailFeedback"
          value="<%= locals.values && locals.values.email %>"
        />
        <div id="emailFeedback" class="invalid-feedback">
          <%= locals.errors && locals.errors.email || "" %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="sr-only">Senha</label>
        <input
          type="password"
          name="password"
          id="inputPassword"
          class="w-100 form-control<%= locals.errors && locals.errors.password ? ' is-invalid' : '' %>"
          placeholder="Senha"
          aria-describedby="passwordFeedback"
        />
        <div id="passwordFeedback" class="invalid-feedback">
          <%= locals.errors && locals.errors.password || "" %>
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
        <span class="float-right"
          >Ainda não tem uma conta? Faça seu <a href="/auth/signup">cadastro</a> agora!</span
        >
      </div>
    </div>
  </form>
</div>
