<div class="container m-auto pt-5">
  <form class="signup-form" method="post" autocomplete="off">
    <h4 class="mb-3">Cadastre-se já!</h4>
    <div>
      <div class="form-group">
        <label for="inputName" class="sr-only">Nome</label>
        <input type="text" name="nome" id="inputName" class="w-100 form-control<%= locals.errors &&
        locals.errors.nome ? ' is-invalid' : '' %>" placeholder="Nome"
        aria-describedby="firstNameFeedback" value="<%= locals.values && locals.values.nome %>" <%=
        !locals.errors && 'autofocus' %> />
        <div id="firstNameFeedback" class="invalid-feedback">
          <%= locals.errors && locals.errors.nome || "" %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputLastName" class="sr-only">Sobrenome</label>
        <input
          type="text"
          name="sobrenome"
          id="inputLastName"
          class="w-100 form-control<%= locals.errors && locals.errors.sobrenome ? ' is-invalid' : '' %>"
          placeholder="Sobrenome"
          aria-describedby="lastNameFeedback"
          value="<%= locals.values && locals.values.sobrenome %>"
        />
        <div id="lastNameFeedback" class="invalid-feedback">
          <%= locals.errors && locals.errors.sobrenome || "" %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="sr-only">Email</label>
        <input
          type="text"
          name="email"
          id="inputEmail"
          class="w-100 form-control<%= locals.errors && locals.errors.email ? ' is-invalid' : '' %>"
          placeholder="Email"
          aria-describedby="emailFeedback"
          value="<%= locals.values && locals.values.email %>"
        />
        <div id="emailFeedback" class="invalid-feedback">
          <%= locals.errors && locals.errors.email || "" %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="sr-only">Senha</label>
        <input
          type="password"
          name="password"
          id="inputPassword"
          class="w-100 form-control<%= locals.errors && locals.errors.password ? ' is-invalid' : '' %>"
          placeholder="Senha"
          aria-describedby="passwordFeedback"
        />
        <div id="passwordFeedback" class="invalid-feedback">
          <%= locals.errors && locals.errors.password || "" %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputNascimento" class="sr-only">Data de Nascimento</label>
        <input
          type="text"
          name="nascimento"
          id="inputNascimento"
          class="w-100 form-control<%= locals.errors && locals.errors.nascimento ? ' is-invalid' : '' %>"
          placeholder="__/__/____"
          aria-describedby="nascimentoFeedback"
        />
        <div id="nascimentoFeedback" class="invalid-feedback">
          <%= locals.errors && locals.errors.nascimento || "" %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputTelefone" class="sr-only">Telefone</label>
        <input
          type="text"
          name="telefone"
          id="inputTelefone"
          class="w-100 form-control<%= locals.errors && locals.errors.telefone ? ' is-invalid' : '' %>"
          placeholder="(11) 98765-4321"
          aria-describedby="telefoneFeedback"
        />
        <div id="telefoneFeedback" class="invalid-feedback">
          <%= locals.errors && locals.errors.telefone || "" %>
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
        <span class="float-right">Já tem uma conta? Faça <a href="/auth">login</a> agora!</span>
      </div>
    </div>
  </form>
</div>
